<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript" src="../practice.js"></script>
<body>
 
<div ng-app="MyApp" >
  <div ng-controller="AvengersCtrl" >
    <table>
      <tr ng-repeat="actor in avengers.cast">
        <td>{{actor.name}}</td>
        <td>{{actor.character}}</td>
      </tr>
    </table>
  </div>
</div>
</body>
</html>




<!-- <!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <title>Document</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  </head>
  <body >
    <div ng-app=""  >
      Name: <input type=”text” ng-model=”name” >
      <p>{{name}}</p>
      <ul>
        <li  ng-repeat = ”names” >  {{names}}  </li>
      </ul>
    </div>
  </body>
</html> -->